*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utilities */

:root{
    --wb-primary: rgba(35, 41, 70, 1);
    --wb-secondary: rgba(238, 187, 195, 1);
    --wb-font-light: rgba(255, 255, 254, 1);
}

/* #endregion Utilities */

